<%= render 'shared/sub_header', klass: 'notification', error: @error %>
<h1>All Notifications</h1>
<table class="table table-striped table-bordered">
  <thead id="table-header">
    <tr>
      <td class="span3"><strong>Date and Time</strong></td>
      <td class="span3"><strong>Notifier</strong></td>
    </tr>
  </thead>
  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= link_to "#{notification.created_at.strftime('%m.%d.%Y (%A) at %I:%M%P')}", notification %></td>
      <td>
        <%= notifier(notification, admin?) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @notifications, class: "pager" %>
