<%= link_to 'New notification', new_notification_path %>
<% @notifications.each do |n| %>
  <li><%= link_to "#{n.created_at.strftime('%m.%d.%Y (%A) at %I:%M%P')} by #{n.user.name}", n %></li>
<% end %>
