<%= render 'shared/sub_header', klass: 'notification', error: @error %>
<div class="page-header">
  <h1>On <%= @notification.created_at.strftime("%A, %B %e, %Y at %l:%M%P") %>,</h1>
</div>
<p class="lead">
<%= notifier(@notification, admin: admin?, notifications_show: true) %>
<% if @notification.cohabitants.any? %>
  notified the following cohabitants that they had snail mail:
</p>
  <% @notification.cohabitants.each do |cohabitant| %>
    <li>
    <%= cohabitant_of_notification(cohabitant, admin?) %>
    </li>
  <% end %>
<% else %>
  notified cohabitants that were deleted.
<% end %>
