<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<h3>Notifications</h3>
<% if user_notifications.empty? %>
  <p><%= @user.name %> has no notifications.</p>
<% else %>
  <% user_notifications.each do |n| %>
    <li><%= link_to n.created_at.strftime('%m.%d.%Y (%A) at %I:%M%P'), n %></li>
  <% end %>
<% end %>
